@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #4897d8;
}

.titre {
	display: block;
	margin: 0 auto;
	overflow-x: hidden;
	text-transform: uppercase;	
	margin-top: 30px;
	color: #A10000;
	h1, h2 {
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	h1 {
		font-size: 70px;
		a {
			color: #A10000;
			text-decoration: none;
		}	
	}
	h2 {
		font-size: 40px;
	}
}

.content {
	h2 {
		color: #A10000;
	}
	.soustitre h2 {
		text-transform: uppercase;
		display: flex;
		justify-content: center;
		font-size: 30px;
	}
}

.submenu {
	position: relative;
	z-index: 10;
	display: flex;
	justify-content: space-around;
	p {
		background-color: #C72734;
		color: beige;
		padding: 10px 15px;
		border: 1px solid beige;
		border-radius: 1px;
		font-size: 135%;
		font-weight: bold;
	}
}

.text {
	margin: 40px;
	line-height: 1.5;
	font-size: 110%;
}

.s1, .s2 {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.s1 {
	margin-top: 80px;
}

.container {
	background-color: beige;
	display: block;
	margin: 0 5%;
	border: 10px solid #DC2835;
	border-radius: 5px;
}

.content {
	margin: 20px;
}

.bio {
	margin: 0 5%;
	margin-bottom: 5%;
	.soustitre h2 {
		margin-bottom: 5%;
		margin-left: 0;
	}
	.spoiler, .spoiler-btn, h2 {
		margin-left: 5%;
	}
	.spoiler {
	    display:none;
	    width:100%;
	    background-color: white;
	    margin:10px;
	}
	.spoiler-btn {
	 	display: table;
	  	position: relative;
		z-index: 10;
	 	text-decoration: none;
	 	border-radius: 2px;
	 	background-color: #C72734;
		color: beige;
		padding: 7px;
		margin-bottom: 5%;
		margin-left: 6%;
	}
}


@media screen and (max-width: 750px) {
	.titre {
		margin-left: 30%;
	}

	.container {
		margin: 0 1%;
	}
}

@media screen and (max-width: 550px) {
	.titre {
		margin-left: 0;
		margin-top: 50%;
	}

	.top-left {
		margin-left: 30vw;
	}

	.text {
		margin: 10px;
	}
}

@media screen and (max-width: 400px) {
	.titre {
		margin-top: 75%;
		h1 {font-size: 60px;}
	}

	.top-left {
		margin-left: 23vw;
	}
}



/* STYLE GALERIE */

*,
*::before,
*::after {
	box-sizing: border-box;
}

.gallery-content {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
	margin-top: 3em;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}



@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}
	.gallery,
	.gallery-item {
		margin: 0;
	}
}



/* STYLE NAVBAR */

$size : 50px;
$items : 6;
$transition : .5s;
$bounce : cubic-bezier(.3,1.4,.5,.9);
$color-inner : #ffdb5c;
$color-outer : #fa6e59;
$background: mix($color-inner, $color-outer);
$black : shade($color-outer, 80%);
$start-scale : .5;
$start-rot : 173deg;

nav {
	display: block;
	position: fixed;
	width: $size * $items * 2;
	height: $size * $items * 2;
	user-select: none;
	transform: translate3d($size*.5,-$size*.5,0);
	transition: transform $transition $bounce;	
	&.open {
		transform: translate3d(0,0,0);
	}	
	&.top-left {
		top: -$size * ($items - 2.1);
		left: -$size * ($items - 1.3);
	}
}

.disc {	
	position: absolute;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	font: $size*.5 'Source Sans Pro', sans-serif;
	line-height: $size * .8;
	padding-top: $size * .2;
	border-radius: $size * $items;
	transform: scale3d($start-scale, $start-scale, $start-scale) rotate3d(0,0,1,$start-rot);
	pointer-events: none;
	opacity: 0;
	cursor: pointer;
	transition: transform $transition $bounce, opacity $transition;
	div {
		transform: rotate(180deg);
	}	
	.open & {
		pointer-events: auto;
		opacity: 1;	
	}
}

@for $i from 1 through $items {
	.l#{$i} {
		$i : $i - 1;
		$-i : $items - $i;
		$pct : $i/$items * 100%;
		$color :  mix($color-inner, $color-outer, $pct);
		top: $i * $size;
		left: $i * $size;
		right: $i * $size;
		bottom: $i * $size;
		background: $color;
		transition-delay: $i * $transition/$items;
		.open & {
			transition-delay: $i * $transition/$items;
			transform: scale3d(1,1,1) rotate3d(0,0,1,$start-rot);
			opacity: 1;
			&:hover {
				background: shade($color, 90%);
				color: inherit;
				transition-delay: 0s;
				font-weight: bold;
			}
			&:active {
				background: shade($color, 50%);
				color: $color;
			}
			&.toggle {
				transform: scale3d(.9,.9,.9) rotate3d(0,0,1,$start-rot - 180deg);
			}
		}
	}
}

.toggle {
	line-height: $size*2;
	padding: 0;
	width: $size*2;
	background: $color-inner;
	opacity: 1;
	transform: none;
	pointer-events: auto;
	transition-delay: 0s;	
	.open & {
		transform: rotate3d(0,0,1,0deg);
	}
	&:hover {
		background: shade($color-inner, 90%);
		color: inherit;
		font-weight: bold;
	}
	&:active {
		background: shade($color-inner, 50%);
		color: rgba($color-inner, .5);
		transform: scale(.9);
		transition-duration: 0s;
	}
}



/* STYLE CONTACT */

#contact-form {
  	max-width: 1208px;
  	max-width: 75.5rem;
 	margin: 0 auto;
}

label > span, input, textarea, button {
  	box-sizing: border-box;
}

label {
  	display: block;
}

label > span {
  	display: none;
}

input, textarea, button {
	  width: 100%;
	  padding: 0.5em;
	  border: none;
	  font: 300 100%/1.2;
}

input[type="text"], input[type="email"], textarea {
	  margin: 0 0 1em;
	  border: 1px solid #ccc;
	  outline: none;
}

input.invalid, textarea.invalid {
  	border-color: #d5144d;
}

textarea {
  	height: 6em;
}

input[type="submit"], button {
	  background: #a7cd80;
	  color: #333;
}

input[type="submit"]:hover, button:hover {
  	background: #91b36f;
}

@media screen and (min-width: 10000px) {
  label > span {
	    vertical-align: top;
	    display: inline-block;
	    width: 26.3736%;
	    padding: 0.5em;
	    border: 1px solid transparent;
	    text-align: right;
  }
  input, textarea, button {
	    width: 73.6263%;
	    line-height: 1.5;
  }
  textarea {
    	height: 10em;
  }
}