@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #4897d8; }

.titre {
  display: block;
  margin: 0 auto;
  overflow-x: hidden;
  text-transform: uppercase;
  margin-top: 30px;
  color: #A10000; }
  .titre h1, .titre h2 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; }
  .titre h1 {
    font-size: 70px; }
    .titre h1 a {
      color: #A10000;
      text-decoration: none; }
  .titre h2 {
    font-size: 40px; }

.content h2 {
  color: #A10000; }
.content .soustitre h2 {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-size: 30px; }

.submenu {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-around; }
  .submenu p {
    background-color: #C72734;
    color: beige;
    padding: 10px 15px;
    border: 1px solid beige;
    border-radius: 1px;
    font-size: 135%;
    font-weight: bold; }

.text {
  margin: 40px;
  line-height: 1.5;
  font-size: 110%; }

.s1, .s2 {
  display: block;
  margin: 0 auto;
  max-width: 100%; }

.s1 {
  margin-top: 80px; }

.container {
  background-color: beige;
  display: block;
  margin: 0 5%;
  border: 10px solid #DC2835;
  border-radius: 5px; }

.content {
  margin: 20px; }

.bio {
  margin: 0 5%;
  margin-bottom: 5%; }
  .bio .soustitre h2 {
    margin-bottom: 5%;
    margin-left: 0; }
  .bio .spoiler, .bio .spoiler-btn, .bio h2 {
    margin-left: 5%; }
  .bio .spoiler {
    display: none;
    width: 100%;
    background-color: white;
    margin: 10px; }
  .bio .spoiler-btn {
    display: table;
    position: relative;
    z-index: 10;
    text-decoration: none;
    border-radius: 2px;
    background-color: #C72734;
    color: beige;
    padding: 7px;
    margin-bottom: 5%;
    margin-left: 6%; }

@media screen and (max-width: 750px) {
  .titre {
    margin-left: 30%; }

  .container {
    margin: 0 1%; } }
@media screen and (max-width: 550px) {
  .titre {
    margin-left: 0;
    margin-top: 50%; }

  .top-left {
    margin-left: 30vw; }

  .text {
    margin: 10px; } }
@media screen and (max-width: 400px) {
  .titre {
    margin-top: 75%; }
    .titre h1 {
      font-size: 60px; }

  .top-left {
    margin-left: 23vw; } }
/* STYLE GALERIE */
*,
*::before,
*::after {
  box-sizing: border-box; }

.gallery-content {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2rem 2rem;
  margin-top: 3em; }

.gallery {
  display: flex;
  flex-wrap: wrap;
  /* Compensate for excess margin on outer gallery flex items */
  margin: -1rem -1rem; }

.gallery-item {
  /* Minimum width of 24rem and grow to fit available space */
  flex: 1 0 24rem;
  /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden; }

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out; }

.gallery-image:hover {
  transform: scale(1.15); }

@supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 2rem; }

  .gallery,
  .gallery-item {
    margin: 0; } }
/* STYLE NAVBAR */
nav {
  display: block;
  position: fixed;
  width: 600px;
  height: 600px;
  user-select: none;
  transform: translate3d(25px, -25px, 0);
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9); }
  nav.open {
    transform: translate3d(0, 0, 0); }
  nav.top-left {
    top: -195px;
    left: -235px; }

.disc {
  position: absolute;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font: 25px "Source Sans Pro", sans-serif;
  line-height: 40px;
  padding-top: 10px;
  border-radius: 300px;
  transform: scale3d(0.5, 0.5, 0.5) rotate3d(0, 0, 1, 173deg);
  pointer-events: none;
  opacity: 0;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), opacity 0.5s; }
  .disc div {
    transform: rotate(180deg); }
  .open .disc {
    pointer-events: auto;
    opacity: 1; }

.l1 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #fa6e59;
  transition-delay: 0s; }
  .open .l1 {
    transition-delay: 0s;
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 173deg);
    opacity: 1; }
    .open .l1:hover {
      background: shade(#fa6e59, 90%);
      color: inherit;
      transition-delay: 0s;
      font-weight: bold; }
    .open .l1:active {
      background: shade(#fa6e59, 50%);
      color: #fa6e59; }
    .open .l1.toggle {
      transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -7deg); }

.l2 {
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  background: #fb805a;
  transition-delay: 0.0833333333s; }
  .open .l2 {
    transition-delay: 0.0833333333s;
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 173deg);
    opacity: 1; }
    .open .l2:hover {
      background: shade(#fb805a, 90%);
      color: inherit;
      transition-delay: 0s;
      font-weight: bold; }
    .open .l2:active {
      background: shade(#fb805a, 50%);
      color: #fb805a; }
    .open .l2.toggle {
      transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -7deg); }

.l3 {
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  background: #fc925a;
  transition-delay: 0.1666666667s; }
  .open .l3 {
    transition-delay: 0.1666666667s;
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 173deg);
    opacity: 1; }
    .open .l3:hover {
      background: shade(#fc925a, 90%);
      color: inherit;
      transition-delay: 0s;
      font-weight: bold; }
    .open .l3:active {
      background: shade(#fc925a, 50%);
      color: #fc925a; }
    .open .l3.toggle {
      transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -7deg); }

.l4 {
  top: 150px;
  left: 150px;
  right: 150px;
  bottom: 150px;
  background: #fda55b;
  transition-delay: 0.25s; }
  .open .l4 {
    transition-delay: 0.25s;
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 173deg);
    opacity: 1; }
    .open .l4:hover {
      background: shade(#fda55b, 90%);
      color: inherit;
      transition-delay: 0s;
      font-weight: bold; }
    .open .l4:active {
      background: shade(#fda55b, 50%);
      color: #fda55b; }
    .open .l4.toggle {
      transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -7deg); }

.l5 {
  top: 200px;
  left: 200px;
  right: 200px;
  bottom: 200px;
  background: #fdb75b;
  transition-delay: 0.3333333333s; }
  .open .l5 {
    transition-delay: 0.3333333333s;
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 173deg);
    opacity: 1; }
    .open .l5:hover {
      background: shade(#fdb75b, 90%);
      color: inherit;
      transition-delay: 0s;
      font-weight: bold; }
    .open .l5:active {
      background: shade(#fdb75b, 50%);
      color: #fdb75b; }
    .open .l5.toggle {
      transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -7deg); }

.l6 {
  top: 250px;
  left: 250px;
  right: 250px;
  bottom: 250px;
  background: #fec95c;
  transition-delay: 0.4166666667s; }
  .open .l6 {
    transition-delay: 0.4166666667s;
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 173deg);
    opacity: 1; }
    .open .l6:hover {
      background: shade(#fec95c, 90%);
      color: inherit;
      transition-delay: 0s;
      font-weight: bold; }
    .open .l6:active {
      background: shade(#fec95c, 50%);
      color: #fec95c; }
    .open .l6.toggle {
      transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -7deg); }

.toggle {
  line-height: 100px;
  padding: 0;
  width: 100px;
  background: #ffdb5c;
  opacity: 1;
  transform: none;
  pointer-events: auto;
  transition-delay: 0s; }
  .open .toggle {
    transform: rotate3d(0, 0, 1, 0deg); }
  .toggle:hover {
    background: shade(#ffdb5c, 90%);
    color: inherit;
    font-weight: bold; }
  .toggle:active {
    background: shade(#ffdb5c, 50%);
    color: rgba(255, 219, 92, 0.5);
    transform: scale(0.9);
    transition-duration: 0s; }

/* STYLE CONTACT */
#contact-form {
  max-width: 1208px;
  max-width: 75.5rem;
  margin: 0 auto; }

label > span, input, textarea, button {
  box-sizing: border-box; }

label {
  display: block; }

label > span {
  display: none; }

input, textarea, button {
  width: 100%;
  padding: 0.5em;
  border: none;
  font: 300 100%/1.2; }

input[type="text"], input[type="email"], textarea {
  margin: 0 0 1em;
  border: 1px solid #ccc;
  outline: none; }

input.invalid, textarea.invalid {
  border-color: #d5144d; }

textarea {
  height: 6em; }

input[type="submit"], button {
  background: #a7cd80;
  color: #333; }

input[type="submit"]:hover, button:hover {
  background: #91b36f; }

@media screen and (min-width: 10000px) {
  label > span {
    vertical-align: top;
    display: inline-block;
    width: 26.3736%;
    padding: 0.5em;
    border: 1px solid transparent;
    text-align: right; }

  input, textarea, button {
    width: 73.6263%;
    line-height: 1.5; }

  textarea {
    height: 10em; } }

/*# sourceMappingURL=style.css.map */
